[[extend 'layout.html']]
<nav class="navbar is-light is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            <a class="navbar-item ">
                <u>THE SOFA</u>
            </a>

            <a class="navbar-item">
                REVIEWS
            </a>

            <a class="navbar-item">
                ABOUT US
            </a>
        </div>

        <a class="navbar-item" href="url">
            <img class="has-ratio"  src="[[=URL('static', 'images/logo.svg')]]" height="600" width="500">
        </a>

        <div class="navbar-end">
            <a class="navbar-item">
                SHOWROOM
            </a>

            <a class="navbar-item">
                SWATCHES
            </a>
        </div>
    </div>
</nav>

<div class="section">
    <div class="columns">
        <!-- left column -->
        <div class="column is-two-thirds">
            <div class="level">
                <div class="level-left">
                    <p>
                        <img class="is-16x16" src="[[=URL('static', 'images/padlock.png')]]">
                        Secure Checkout
                    </p>
                </div>
                <div class="level-right has-text-right">
                    <p>Ships in 5-7 Business Days</p>
                </div>
            </div>
            <img class="is-1by2" src="[[=URL('static', 'images/sofa-red.jpg')]]">
            <img class="is-64x64" src="[[=URL('static', 'images/free-shipping.svg')]]">
            <img class="is-64x64" src="[[=URL('static', 'images/trial.png')]]">
            <img class="is-64x64" src="[[=URL('static', 'images/made-in-america.png')]]">
            <img class="is-64x64" src="[[=URL('static', 'images/warranty.png')]]">
            <img class="is-64x64" src="[[=URL('static', 'images/assembly.png')]]">
            <img class="is-64x64" src="[[=URL('static', 'images/materials.png')]]">
        </div>
        <div class="column is-one-thirds">
            <h1>THE SOFA</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec ac dui interdum, tincidunt velit sit amet.
            </p>
                Pay Now
                $1,250
                $1450 <-- crossed out
                $200 OFF with code
            <p>
                Pay as low as
                $25/month
                with Klarna
                learn more
            </p>
            <p>
                <a class="button is-link">Add to cart</a>
            </p>
            <p class="is-black has-text-black">
                <a>
                    Save design for later
                </a>
            </p>
            <h2>
                CHOOSE A FABRIC
            </h2>
            <p>
                Choose your choice from fabrics to leather.
            </p>
            <p>
                Fabric Choices
            </p>
            <img class="is-16x16" src="[[=URL('static', 'images/sofa-amber.jpg')]]">
            <img class="is-16x16" src="[[=URL('static', 'images/sofa-charcoal.jpg')]]">
            <img class="is-16x16" src="[[=URL('static', 'images/sofa-red.jpg')]]">
        </div>
    </div>
</div>